
/* global Css*{ */
    *{
        margin:0px;
        padding:0px;
    }
h1,h2,h3,h4,h5,h6,p{
    font-family: 'Work Sans';
}
.btn-primary{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #005FAC;
    padding:20px 25px;
    background-color: white;
    border:none;
    border-radius: 5px;
}
/* Banner css */
.banner{
    background-image: url(../images/banner/banner3.png);
    background-position: center;
    height:100vh;
    display:flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 130px;
}
.banner-container{
    display:flex;
    justify-content: end;
    align-items: center;
    width:1140px;
    margin:auto;
}
.banner-text{
    width:50%;
    text-align: right;
    color:white;
}
.banner-title{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
}
.banner-des{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin:24px 0px 32px 0px;
    padding-left:30px;
}
/* Failures Css */
.failures-container{
    display:flex;
    width:1072px;
    margin:auto;
    justify-content: space-between;
    align-items: center;
    gap:87px;
    margin-bottom: 130px;
}
.failures-img{
    width:50%;

}
.failures-img img{
    width:569px;
    text-align: left;
}
.failures-list{
    width:50%;
}
.failures-title{
    text-align: left;
    padding-right:40px;
}
.section-title{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;

}
.failures-des{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    padding:24px 0px 16px 0px;

}
.failures .failures-lists{
    list-style: none;
}
.fail>i{
    color:#16D887;
    margin-right:10px;
}
.fail{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;

}
/* My-Plans Css */
.my-plans h1{
    text-align:center;
    margin-bottom:50px;
}
.plans-container{
    display:flex;
    width:1140px;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    text-align: center;
}
.plans-logo{
    width:96px;
}
.plans-title{
    padding:24px 0px 16px 0px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;

}
.plans-des{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}
/* Mindset watch */
.mindset-watch{
    padding:130px 0px;
}
.mindset-container{
    width:1140px;
    margin:auto;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%),url(../images/watch.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    padding:60px 64px;
}
.mindset-title{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    padding-bottom:24px;
}
.mindset-text{
    width:50%;
}